@import "tailwindcss";

@theme {
  --color-blueprint-950: #070F1F;
  --color-blueprint-900: #0B1630;
  --color-blueprint-800: #0E1D3D;
  --color-blueprint-700: #132655;
  --color-blueprint-600: #1A3573;
  --color-copper-400: #D18B47;
  --color-copper-500: #B87333;
}

body {
  @apply bg-blueprint-950 text-white antialiased;
}